.test1{
	background-color: lightblue;
	height:150px;
	width:200px;
	font-size: 2em;
	margin-bottom: 15px;
}

.test2{
	background-color: lightgray;
	height:150px;
	width:200px;
	font-size: 2em;
	margin-bottom: 15px;
}

.test3{
	background-color: lightgreen;
	height:150px;
	width:200px;
	font-size: 2em;
	margin-bottom: 15px;
}
.test4{
	background-color: purple;
	height:150px;
	width:200px;
	font-size: 2em;
	margin-bottom: 15px;
}

.test5{
	background-color: orange;
	height:150px;
	width:200px;
	font-size: 2em;
	margin-bottom: 15px;
}